@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Signika:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
font-family: sans-serif;
color: white;
}


main{
  width: 900px;
  margin: 100px auto 50px;
  display: flex;
  background-color: rgba(255,255,255,0.2);
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin: auto;
  background-color: rgba(255, 255, 255, 0.02);
  text-align: center;
}
button{
  height: 100px;
  width: 100px;
  border-radius: 8px;
  background-color: white;
  
}


button:hover{
  cursor: pointer;
  background-color: antiquewhite;
}

.titulo{
grid-column: 1/5;

}

.results{
  background-color: rgba(250, 235, 215, 0.37);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 250px;
  height: 400px;
  padding: 0 20px;
}

.estadisticas{
  border: 1px solid white;
  height: 100px;
  border-radius: 8px;
  padding: 8px 20px;
  box-sizing: border-box;
}
footer{
  text-align: center;
}
img{
  width: 85px;
  height: 90px;
  border-top: 10px;
}

/* CSS FINISH */


.finalgame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  width: 50%;
  margin: 80px 50px 75px 80px;
  border-radius: 6px;
}
.finalgame img {
  align-items: center;
  width: 50%;
  height: 50%;
}

.btn-play {
  height: 50px;
  width: 150px;
  background: linear-gradient(
    135deg,
    #ff9f66 0,
    #ff9366 12.5%,
    #ff8362 25%,
    #ff6e5c 37.5%,
    #f25353 50%,
    #e3334c 62.5%,
    #d70349 75%,
    #ce004b 87.5%,
    #c70051 100%
  );
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
}

.won {
  font-weight: bold;
  margin: 10px;
}

.Score {
  display: none;
}
.bodyfinish {
  display: flex;
  gap: 5rem;
}

.finalscore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  width: 22%;
  margin: 80px 50px 75px 50px;
  border-radius: 6px;
}

.finish5{
  display: none;

}