@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Signika:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS FINISH */

.bodyfinish {
  max-width: 1500px;
  margin: 0 auto;
  background-color: blue;
}

.finalgame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  width: 60%;
}
.finalgame img {
  align-items: center;
}

.btn-play {
  height: 50px;
  width: 150px;
  background: linear-gradient(
    135deg,
    #ff9f66 0,
    #ff9366 12.5%,
    #ff8362 25%,
    #ff6e5c 37.5%,
    #f25353 50%,
    #e3334c 62.5%,
    #d70349 75%,
    #ce004b 87.5%,
    #c70051 100%
  );
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 200px;
  border: none;
}

.won {
  text-transform: uppercase;
  font-weight: bold;
}

#Score {
  display: none;
}

/* DAVID CSS - Begin */

.lis-nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: red;
}

.user-zone {
  background-color: lightcyan;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

#main-body {
  max-width: 1500px;
  margin: 0 auto;
}

/* David CSS - End */
