* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lis-nav {
  display: flex;
  background-color: red;
  justify-content: space-evenly;
  list-style: none;
}

.user-zone {
  margin: 0 auto;
  width: 700px;
  height: 400px;
  background-color: lightcyan;
}
